.black {
    opacity: 1.0;
    width: 310px;
    height: 260px;
}


.black:hover{
    opacity: 0.5;
    text-align: center;
}

.red {
    opacity: 1.0;
    width: 300px;
    height: 260px;
}


.red:hover{
    opacity: 0.5;
    text-align: center;
}


.blue {
    opacity: 1.0;
    width: 310px;
    height: 260px;
}


.blue:hover{
    opacity: 0.5;
    text-align: center;
    
}


.gray {
    opacity: 1.0;
    width: 320px;
    height: 270px;
}


.gray:hover{      
    opacity: 0.5;
    text-align: center;
    
}

.cn {
    display : flex;
    position: absolute;
    left: 10%;
    top: 30%;   
}


.red-text {
    opacity: 0;
    font-style: italic;
    font-size: 30px;
    margin-top: 120px;
    margin-left: -170px;   
}

.red-text:hover {
    opacity: 1;
    color: black;
    
}


.st {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}


.dd {

    float: left;
}

.textt {
    float: left;
}